@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="Search">
    <div class="search-box">


        <input class="search-txt" type="text" name="query" placeholder="Type to search">
        <a class="search-btn" href="#">
            <i class="fas fa-search"></i>
        </a>


    </div>
</form>